.logo-container {
    transition: background-image 1s ease-in-out;

    & .glass-container {
        margin: auto;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px);
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .main-logo {
            font-size: 5rem;
            color: rgb(var(--support-color));
            font-family: "Gloria Hallelujah", cursive;
            display: inline-block;
            text-align: center;
            line-height: 1.2;
            font-weight: 800;
        }

        & .main-slogan {
            font-size: 2rem;
            text-align: center;
            color: rgb(var(--second-color));
            font-weight: 400;
        }
    }
}

@media (max-width: 780px) {
    .glass-container {
        padding-top: 11vh !important;
    }
}
